<div id="designs" class="designs products row row-small large-columns-4 medium-columns-4 small-columns-4 has-shadow row-box-shadow-2 row-box-shadow-3-hover">

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail first product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/cat-owns-my-house/">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/cat_owns_my_house_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/cat-owns-my-house/">Cat Owns My House</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail first product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/the-things-i-do/">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/the_things_i_do_mockup_white.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/the-things-i-do/">The Things I Do</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail first product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/unicorn-cool">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/unicorn_cool_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/unicorn-cool">Unicorn Cool</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/unicorn-in-car">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/unicorn_car_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/unicorn-in-car">Unicorn In Car</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/real-men-have-beards">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/02/bearded_men_mockup_black.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/real-men-have-beards">Real Men Have Beards</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/age-doesnt-matter">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/age_doesnt_matter_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/age-doesnt-matter">Age Doesn't Matter</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/adults-are-kids">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/adults_are_kids_black_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/adults-are-kids">Adults Are Kids</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/french-bulldog-duck">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/french_bulldog_duck_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/french-bulldog-duck">French Bulldog Duck</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/french-bulldog-coffee">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/frenchy_coffee_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/french-bulldog-coffee">French Bulldog Coffee</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/cute-cow">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/cute_cow_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/cute-cow">Cute Cow</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/cute-bear">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/cute_bear_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/cute-bear">Cute Bear</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/cartoon-carrot">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/cartoon_carrot_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/cartoon-carrot">Cartoon Carrot</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/cartoon-broccoli">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/cartoon_broccoli_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/cartoon-broccoli">Cartoon Broccoli</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/sup-llama">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/sup_llama_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/sup-llama">Sup Llama</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/shield">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/shield_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/shield">Shield</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/russian-mallow">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/russian_mallow_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/russian-mallow">Russian Mallow</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/plastic-liquid">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/plastic_liquid_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/plastic-liquid">Plastic Liquid</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/owl">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/owl_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/owl">Owl</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/no-drama-llama">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/no_drama_llama_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/no-drama-llama">No Drama Llama</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/neon-light">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/neon_light_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/neon-light">Neon Light</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/monkey-on-tree">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/monkey_on_tree_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/monkey-on-tree">Monkey On Tree</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/marijuana-leaf">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/marijuana_leaf_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/marijuana-leaf">Marijuana Leaf</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/retro-love-wizard">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/love_wizard_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/retro-love-wizard">Retro Love Wizard</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/love-bunnies">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/love_bunnies_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/love-bunnies">Love Bunnies</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/furry-friends">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/furry_friends_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/furry-friends">Furry Friends</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/funny-owls">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/funny_owls_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/funny-owls">Funny Owls</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/flower-circle">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/flower_circle_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/flower-circle">Flower Circle</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/elephant-baby">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/03/elephant_baby_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/elephant-baby">Elephant Baby</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/doggy-food">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/02/doggy_food_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/doggy-food">Doggy Food</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/dino">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/02/dino_mockup_white.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/dino">Dino</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/cute-monkey">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/02/cute_monkey_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/cute-monkey">Cute Monkey</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/cute-bunnies">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/02/cute_bunnies_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/cute-bunnies">Cute Bunnies</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/cocktails">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/02/cocktails_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/cocktails">Cocktails</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/bulldog">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/02/bulldog_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/bulldog">Bulldog</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/bottles">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/02/bottles_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/bottles">Bottles</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/africa-map">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/02/africa_map_mockup.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/africa-map">Africa Map</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-small col has-hover product type-product status-publish has-post-thumbnail product-type-variable">
        <div class="col-inner">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-none">
                        <a href="https://charitee.life/design/charitee">
                            <img
                                    width="400" height="400"
                                    src="https://charitee.life/wp-content/uploads/2019/02/charitee_mockup_black.jpg"
                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                    sizes="(max-width: 400px) 100vw, 400px"
                            />
                        </a>
                    </div>
                </div>
                <div class="box-text box-text-products">
                    <div class="title-wrapper">
                        <p class="name product-title" style="text-align: center">
                            <a href="https://charitee.life/design/charitee">ChariTee</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>