<div class="shipping pf-ui-body">
    <div class="container pf-py-64 clearfix">
        <div class="">
            <div class="col-md-12 text-center">
                <h1 class="pf-mt-0 pf-mb-0 pf-h2">Shipping Info</h1>
            </div>
        </div>
    </div>
    <div class="shipping-header- whitesmoke">
        <div class="col-md-5 pf-p-0 img-container"></div>
        <div class="col-md-6 text-column">
            <div class=" padding-vertical-40">
                <div class="col-md-12">
                    <p class="pf-mb-24">
                        We take about <strong>2-7 business days</strong> to create apparel products (t-shirts, etc.) and <strong>2-5 business days</strong> for non-apparel products (posters, etc.). Then you should <strong>add shipping times on top of that</strong>. Speed and price depends on product type and destination. It can get a bit confusing, that's why we've made these tables to help you out.

                    <p class="pf-mb-0">
                        97.66% of our orders are shipped within 5 business days. More than a half of our orders are shipped within 3 business days or less

                </div>
            </div>
        </div>
    </div>

    <div id="live-rates" class="active">
        <div class="container">
            <div class="">
                <div class="col-md-10 offset-md-1">
                    <div class=" pf-mb-64">
                        <div class="offset-md-2 col-md-8 offset-md-2">
                            <div class="pf-ui-subheading pf-m-0 pf-mb-32 text-muted">
                                <div class="wysiwyg">
                                    Our shipping algorithm will determine the fastest, most cost-effective, and most reliable carrier for each shipment based on these factors:
                                    <b>where it’s fulfilled, where it’s shipping, the selected shipping method, and the shipping speeds and prices</b> of our carriers.

                                    For your convenience, we’ve grouped our list of carriers into a handful of shipping methods.

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 collapse-block">
                            <div class="collapse-panel">
                                <div class="collapse-heading basic-domestic">
                                    <h3 class="" href="#basic-domestic" data-toggle="collapse" aria-expanded="true">USA</h3>
                                </div>
                                <div id="basic-domestic" class="collapse-body collapse in" aria-expanded="true" style="">
                                    <div class="table-responsive desktop-block">
                                        <table class="table table-hover pf-table">
                                            <thead class="product-tb">
                                            <tr class="deliver">
                                                <th></th>
                                                <th>Overnight</th>
                                                <th>Express</th>
                                                <th>Standard</th>
                                                <th>Economy</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><strong>Delivery time</strong></td>
                                                <td>1 business day</td>
                                                <td>1-3 business days</td>
                                                <td>3-5 business days</td>
                                                <td>5-8 business days</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 collapse-block">
                            <div class="collapse-panel">
                                <div class="collapse-heading basic-international">
                                    <h3 class="" href="#basic-international" data-toggle="collapse" aria-expanded="true">International from USA</h3>
                                </div>
                                <div id="basic-international" class="collapse-body collapse in" aria-expanded="true" style="">
                                    <div class="table-responsive desktop-block">
                                        <table class="table table-hover pf-table">
                                            <thead class="product-tb">
                                            <tr class="deliver">
                                                <th></th>
                                                <th>Express</th>
                                                <th>Standard</th>
                                                <th>Economy</th>
                                                <th>No rush</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><strong>Delivery time</strong></td>
                                                <td>1-3 business days</td>
                                                <td>3-5 business days</td>
                                                <td>5-10 business days</td>
                                                <td>10-20 business days</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 collapse-block">
                            <div class="collapse-panel">
                                <div class="collapse-heading basic-international-eu">
                                    <h3 class="" href="#basic-international-eu" data-toggle="collapse" aria-expanded="true">
                                        International from Europe</h3>
                                </div>
                                <div id="basic-international-eu" class="collapse-body collapse in" aria-expanded="true" style="">
                                    <div class="table-responsive desktop-block">
                                        <table class="table table-hover pf-table">
                                            <thead class="product-tb">
                                            <tr class="deliver">
                                                <th></th>
                                                <th>Express</th>
                                                <th>Standard</th>
                                                <th>Economy</th>
                                                <th>No rush</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><strong>Delivery time</strong></td>
                                                <td>1-3 business days</td>
                                                <td>3-5 business days</td>
                                                <td>5-10 business days</td>
                                                <td>10-20 business days</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pf-pt-64 pf-pb-32">
        <div class="container">
            <div class="">
                <div class="col-md-10 offset-md-1">
                    <h2 class="pf-h2 pf-mt-0 pf-mb-8">
                        We partner with global carriers</h2>
                    <div class="pf-mt-0 pf-mb-8 pf-ui-subheading-lg pf-text-muted">
                        We have strong partnerships with the most reliable carriers to bring you the best offers</div>
                </div>
            </div>
            <div id="shipping_sponsors" class="pf-sponsors pf-mt-32 pf-mb-8">
                <div class="">
                    <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                        <div class=" -flex -flex--center">
                            <div class="col-4 col-sm-2 pf-mb-24">
                                <a href="javascript:;"><img src="https://d1yg28hrivmbqm.cloudfront.net/upload/file-upload/5b/5b3aa7c11b012bbfb5a709c7a0c403cb_l?v=6c9a43603d7bf1ad4049c5d953342577"></a></div>
                            <div class="col-4 col-sm-2 pf-mb-24">
                                <a href="javascript:;"><img src="https://d1yg28hrivmbqm.cloudfront.net/upload/file-upload/ec/ec0b9e3717d897ab062e70806b7b40cb_l?v=678fa07d32890c2f3824ac7e5888ac71"></a></div>
                            <div class="col-4 col-sm-2 pf-mb-24">
                                <a href="javascript:;"><img src="https://d1yg28hrivmbqm.cloudfront.net/upload/file-upload/72/7262608e60119838229224c9fea12518_l?v=f11ad3227ea8b82fa6651b512af75697"></a></div>
                            <div class="col-4 col-sm-2 pf-mb-24">
                                <a href="javascript:;"><img src="https://d1yg28hrivmbqm.cloudfront.net/upload/file-upload/28/2836c2c1f5b3d5bf76bcd7c87d85cc62_l?v=4e4055caed368b09a6523c977593e9e3"></a></div>
                            <div class="col-4 col-sm-2 pf-mb-24">
                                <a href="javascript:;"><img src="https://d1yg28hrivmbqm.cloudfront.net/upload/file-upload/3a/3a42bb07affd3587d1ca8c3a2072a096_l?v=1c1a4ff969b1e50546ca41e9ffdc96f5"></a></div>
                            <div class="col-4 col-sm-2 pf-mb-24">
                                <a href="javascript:;"><img src="https://d1yg28hrivmbqm.cloudfront.net/upload/file-upload/cf/cffcaea23327b979dc7c4293cdc0046f_l?v=85e36d18004ec1fdf0d66aea6db79af9"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>