/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/

/* Common stuff */
.back-to-top {
    right: 29px;
    bottom: 95px;
}

.obfx-menu-icon.fa, .obfx-menu-icon.dashicons, .obfx-menu-icon {
    margin-top: -1px;
}

.home .shop-page-title {
    display: none;
}

.menu-item i._before, .rtl .menu-item i._after {
    margin-right: 0;
}

.menu-item i._mi {
    margin-top: 0;
}

.pace .pace-progress:before {
    height: 90%;
}

/* Header stuff */
#top-bar h4 {
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.adsw-currency-selector-head .current-currency,
.adsw-currency-selector-head .currency-carret-wrap {
    display: inline-block;
}

.widget.widget-adsw-currency-selector .current-currency a.currency-item {
    border-bottom: 0;
}

.widget.widget-adsw-currency-selector a.currency-item {
    font-size: .8em;
    color: rgba(102,102,102,0.85);
    padding-left: 5%;
    padding-right: 5%;
}

.widget_adsw_currency_selector,
.widget.widget-adsw-currency-selector {
    margin-bottom: 0;
}

.widget.widget-adsw-currency-selector ul.currency-list {
    max-height: 800%;
}

.widget.widget-adsw-currency-selector .adsw-currency-selector-head {
    border: 1px solid #45b5db;
    border-radius: 5px;
    padding-left: 0.5em!important;
    padding-right: 0.5em!important;
}

/* Flash message stuff */
.woocommerce-message {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.woocommerce-message .message-container {
    padding-top: 0.5em;
    padding-bottom: .5em;
}
.woocommerce-message .success-color {
    color: #fff;
    background: #7a9c59;
}

/* Banner stuff */
.top-banner .banner-bg .bg-fill {
    background-size: contain !important;
}

/* Product page stuff */
.panel h2,
.panel h3 {
    display: none;
}

.panel table {
    table-layout: fixed;
}

.cat-item-15 {
    display: none !important;
}

label.selectedswatch {
    opacity: 1;
}

.selectedswatch ~ span {
    color: #000;
}

.reset_variations {
    display: none !important;
}

span.belowtext {
    display: none;
}

.flex-control-thumbs li {
    width: 16.6%;
}
.flex-control-thumbs li img {
    border: 2px solid transparent;
}
.flex-control-thumbs li img.flex-active {
    border: 2px solid #ee2294;
}
.flex-viewport {
    height: auto !important;
}

.comment_container .avatar {
    display: none;
}

.comment-text {
    margin-top: -1.4em;
    margin-left: 1em;
}

@media screen and (min-width: 850px) {
    .vertical-thumbnails {
        overflow-y: scroll;
    }
}

/* Checkout stuff */
.zoid-outlet {
    z-index: 10;
}

.fp_donation_form {
    display: none;
}

.woocommerce-shipping-totals .woocommerce-shipping-destination {
    display: none;
}

/* Shipping info stuff */
.partner-logos img {
    object-fit: contain !important;
    height: 85px !important;
}

/*************** ADD MOBILE ONLY CSS HERE  ***************/
@media only screen and (max-width: 48em) {
    .designs.has-shadow .box-text {
        padding: 0.4em;
    }

    .designs .product-title a {
        font-size: 80%;
    }

    .featured-title .page-title-inner {
        font-size: .8em;
        padding: 10px;
    }

    .product-main {
        padding: 0;
    }

    .page-title-inner {
        min-height: unset;
    }

    .shop-page-title .medium-flex-wrap .flex-col {
        padding: 0;
    }
}
