/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/

/* Common stuff */
.back-to-top {
    right: 29px;
    bottom: 95px;
}

.obfx-menu-icon.fa, .obfx-menu-icon.dashicons, .obfx-menu-icon {
    margin-top: -1px;
}

.home .shop-page-title {
    display: none;
}

/* Header stuff */
#top-bar h4 {
    color: #ffffff;
    text-align: center;
    margin: 0;
}

#top-bar a {
    color: #f1fd47;
    font-weight: bolder;
    border-bottom: 1px dotted;
}

/* Flash message stuff */
.woocommerce-message {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.woocommerce-message .message-container {
    padding-top: 0.5em;
    padding-bottom: .5em;
}
.woocommerce-message .success-color {
    color: #fff;
    background: #7a9c59;
}

/* Banner stuff */
.top-banner .banner-bg .bg-fill {
    background-size: contain !important;
}

.header-bottom {
    background-color: #ee2294;
}

/* Product page stuff */
.panel h2,
.panel h3 {
    display: none;
}

.panel table {
    table-layout: fixed;
}

.cat-item-15 {
    display: none !important;
}

label.selectedswatch {
    opacity: 1;
}

.selectedswatch ~ span {
    color: #000;
}

.reset_variations {
    display: none !important;
}

span.belowtext {
    display: none;
}

.flex-control-thumbs li {
    width: 16.6%;
}
.flex-control-thumbs li img {
    border: 2px solid transparent;
}
.flex-control-thumbs li img.flex-active {
    border: 2px solid #ee2294;
}
.flex-viewport {
    height: auto !important;
}

.overlay {
    background-color: rgba(0,0,0,.05);
}

/* MiraRae stuff */
.mirarae-banner {
    height: 300px;
    vertical-align: middle;
    background: url(https://charitee.life/wp-content/uploads/2019/10/image1.jpg) center center no-repeat;
}

.page-id-46272 #main {
    vertical-align: middle;
    background: #1a3eb9 url(https://charitee.life/wp-content/uploads/2019/10/image1.jpg) bottom center no-repeat;
    background-size: cover;
    min-height: 1070px;
}

.zyra-banner {
    height: 150px;
    vertical-align: middle;
    /*background: #000 url(https://charitee.life/wp-content/uploads/2020/01/zyra_merch-2.jpg) center center no-repeat;*/
    background: #000 url(https://charitee.life/wp-content/uploads/2020/04/banner-1-1400x317.jpg) center center no-repeat;
    background-size: contain;
}

.block-html-after-header {
    top: 0 !important;
}

.page-id-46272 .block-html-after-header,
.page-id-46356 .block-html-after-header {
    /*display: none;*/
}

#thumbler-menu {
    display: none
}

.expansion-alids-init #thumbler-menu {
    display: block;
}

/* Ring stuff */
.value .adsw-attribute-option .meta-item-text {
    padding: 4px 7px;
    font-size: 14px;
    line-height: 14px;
    color: #333;
}

.value .adsw-attribute-option .select-silver {
    background: #c7c7c7;
}
.value .adsw-attribute-option .select-gold {
    background: #feeeb7;
}
.value .adsw-attribute-option .select-rose-gold {
    background: #cb9f88;
    color: #fff;
}

.value .adsw-attribute-option .meta-item-img.active i,
.value .adsw-attribute-option .meta-item-text.active {
    border: 1px solid #000000;
}

.product-main .variations_form .single_variation_wrap .product-addon {
    font-size: .8em;
}

.product-main .variations_form .single_variation_wrap div.product-addon,
.product-main .variations_form .single_variation_wrap h3,
.product-main .variations_form .single_variation_wrap input {
    margin: 0;
}

.product-main .variations_form .single_variation_wrap div.addon-description p {
    font-size: .9em;
}

@media screen and (min-width: 850px) {
    .vertical-thumbnails {
        overflow-y: scroll;
    }
}

/* Checkout stuff */
.zoid-outlet {
    z-index: 10;
}

.fp_donation_form {
    display: none;
}

/* Shipping info stuff */
.partner-logos img {
    object-fit: contain !important;
    height: 85px !important;
}

/* Tawk.to stuff */
iframe #tawkchat-status-text-container,
iframe .theme-background-color {
    background-color: #ee2294 !important;
}

/*************** ADD MOBILE ONLY CSS HERE  ***************/
@media only screen and (max-width: 48em) {
    .designs.has-shadow .box-text {
        padding: 0.4em;
    }

    .designs .product-title a {
        font-size: 80%;
    }

    .featured-title .page-title-inner {
        font-size: .8em;
        padding: 10px;
    }

    .product-main {
        padding: 0;
    }

    .page-title-inner {
        min-height: unset;
    }

    .shop-page-title .medium-flex-wrap .flex-col {
        padding: 0;
    }
}